<% include ../header.ejs %>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <% include ./nav.ejs %>

        <div class="layui-body" >
            <!-- 内容主体区域 -->
            <fieldset class="layui-elem-field layui-field-title">
                <legend>所有用户</legend>
                <table lay-filter="demo" class="layui-hide" id="test"></table>
                <script type="text/html" id="barDemo">
                    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                </script>
            </fieldset>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
    <script>

        //JavaScript代码区域
        layui.use(['element','table','form'], function(){
            var table = layui.table;
            var form=layui.form;
            var $=layui.$;

            table.render({
                elem:"#test",
                url:"/admin/task/all",
                method:"post",
                cols:[[
                    {field:"title",title:"标题"},
                    {field:"author",title:"作者",templet:function (d) {
                            return d.author.username;
                        }},
                    {field:"time",title:"发布时间",templet:function (d) {
                            return new Date(d.time).toLocaleString();
                        }},
                    {field: 'tool', toolbar: '#barDemo'}
                ]],
                page: true
            });

            table.on('tool(demo)',function (obj) {
                layer.confirm('确定删除',{icon: 3, title:'提示'},function (index) {
                    $.ajax({
                        url:'/admin/task/del',
                        method:'post',
                        data:{
                            _id:obj.data._id,
                        },
                        success(data){

                            if(data.code===0){
                                //console.log(data.code)
                                location.reload();

                            }
                        },
                    });
                    layer.close(index);
                });
            })
        });
    </script>
</body>
</html>