<% include header.ejs %>
    <body>
        <div class="layui-bg-blue">
            <div class="layui-header layui-main">
                <ul class="layui-nav layui-bg-blue">
                    <li class="layui-nav-item layui-this"><a href="/">任务大厅</a></li>
                </ul>
                <ul class="layui-nav layui-bg-blue layui-layout-right ">
                    <% if(login){ %>
                        <li class="layui-nav-item">当前用户：<%= user.username %></li>
                        <% if(user.level>=10){ %>
                            <li class="layui-nav-item"><a href="/admin/task/add">后台管理</a></li>
                        <% } %>
                        <li class="layui-nav-item"><a href="/logout">退出</a></li>
                    <% }else{ %>
                        <li class="layui-nav-item"><a href="/login">登陆</a></li>
                        <li class="layui-nav-item"><a href="/reg">注册</a></li>
                    <% } %>
                </ul>
            </div>

        </div>
        <div class="layui-main">
            <div id="buts">
                <button class="layui-btn layui-btn-normal" data-dachui="all">全部任务</button>
                <button class="layui-btn layui-btn-normal" data-dachui="can">可以接取</button>
                <button class="layui-btn layui-btn-normal" data-dachui="notcan">不可接取</button>
                <div style="float: right;">
                    <% if(login){ %>
                        <% if(user.level>=10){ %>
                            <button class="layui-btn layui-btn-normal" data-dachui="my">我的发布</button>
                        <% } %>
                        <button class="layui-btn layui-btn-normal" data-dachui="ing">已经接取</button>
                        <button class="layui-btn layui-btn-normal" data-dachui="fin">已经完成</button>
                    <% } %>
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title">
                <table lay-filter="demo" class="layui-hide" id="test"></table>
                <script type="text/html" id="xq">
                    <a class="layui-btn layui-btn-xs" lay-event="aa">查看详情</a>
                </script>
            </fieldset>

        </div>

        <script>
            //注意：导航 依赖 element 模块，否则无法进行功能性操作
            layui.use(['element',"table","util"], function(){
                var element = layui.element;
                var table=layui.table;
                var $=layui.$;
                var util=layui.util;
                table.render({
                    elem:"#test",
                    url:"/api/task/all",
                    method:"post",
                    cols:[[
                        {field:"title",title:"标题"},
                        {field:"time",title:"发布时间",templet:function (d) {
                                return util.timeAgo(d.time);
                            }},
                        {toolbar:"#xq"}
                    ]],
                    page: true
                });
                var m={
                    all:function () {
                        table.reload("test",{
                            url:"/api/task/all"
                        })
                    },
                    can:function () {
                        table.reload("test",{
                            url:"/api/task/can"
                        })
                    },
                    notcan:function () {
                        table.reload("test",{
                            url:"/api/task/notcan"
                        })
                    },
                    my:function () {
                        table.reload('test',{
                            url:'/api/task/my'
                        })
                    },
                    ing: function () {
                        table.reload('test', {
                            url: '/api/task/ing'
                        })
                    },
                    fin: function () {
                        table.reload('test', {
                            url: '/api/task/fin'
                        })
                    }
                }
                table.on('tool(demo)',function (obj) {
                    location.href='/xq/'+obj.data._id;
                })

                $("#buts .layui-btn").on("click",function () {
                    m[this.dataset.dachui]()
                })


                //…
            });
        </script>
    </body>
</html>














